/* --- Restaurant Specific CSS --- */


/* e) The Order List Screen */

.pos .orderlist-screen .order-list{
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.pos .orderlist-screen .order-list th,
.pos .orderlist-screen .order-list td {
    padding: 0px 8px;
}
.pos .orderlist-screen .order-list tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.pos .orderlist-screen .order-list thead > tr,
.pos .orderlist-screen .order-list tr:nth-child(even) {
    background: rgb(247,247,247);
}
.pos .orderlist-screen .order-list tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.pos .orderlist-screen .order-list tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.pos .orderlist-screen .order-list tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
.pos .orderlist-screen .order-details{
    padding: 16px;
    border-bottom: solid 5px rgb(110,200,155);
}
.pos .orderlist-screen .order-name {
    font-size: 32px;
    line-height: 64px;
    margin-bottom:16px;
}
.pos .orderlist-screen .order-ncf {
    font-size: 16px;
    line-height: 64px;
    margin-bottom:16px;
}
.pos .orderlist-screen .edit-buttons {
    position: absolute;
    right: 16px;
    top: 10px;
}
.pos .orderlist-screen .edit-buttons .button{
    display: inline-block;
    margin-left: 16px;
    color: rgb(128,128,128);
    cursor: pointer;
    font-size: 36px;
}
.pos .orderlist-screen .order-details-box{
    position: relative;
    font-size: 16px;
}
.pos .orderlist-screen .order-details-left{
    width: 50%;
    float: left;
}
.pos .orderlist-screen .order-details-right{
    width: 50%;
    float: right;
}
.pos .orderlist-screen .order-detail{
    line-height: 24px;
}
.pos .orderlist-screen .order-detail > .label{
    font-weight: bold;
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-right: 8px;
}
.pos .orderlist-screen .order-details input,
.pos .orderlist-screen .order-details select
{
    padding: 4px;
    border-radius: 3px;
    border: solid 1px #cecbcb;
    margin-bottom: 4px;
    background: white;
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    color: #555555;
    width: 340px;
    font-size: 14px;
    box-sizing: border-box;
}
.pos .orderlist-screen .order-detail > .empty{
    opacity: 0.3;
}
.pos .orderlist-screen .searchbox{
    right: auto;
    margin-left: -90px;
    margin-top:8px;
    left: 50%;
}
.pos .orderlist-screen .searchbox input{
    width: 120px;
}
